.header {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 30px;
  color: white;
  background-color: #0d6c94;
  text-align: center;
  font-size: xx-large;
}
.btn1 {
  text-align: left !important;
  width: 100% !important;
  font-size: large;
  color: white !important;
  background-color: #0d6c94 !important;
  border-radius: 10px;
}
.btn1:hover {
  background-color: rgb(185, 185, 39) !important;
  cursor: pointer;
  color: white !important;
}
.container {
  width: 96%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  margin-top: inherit;
  font-family: Helvetica, sans-serif;
}
.sidebar {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  width: 20%;
}
.centerdiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
